.full-width {
  width: 100%;
}

.gj-redirects {
  margin-bottom: 20px;
}

div.gj-buttons .table-button {
  float: left;
  margin-right: 20px !important;
}

div.tablenav {
  float: right !important;
  clear: none;
}
